@model ResultRoomDto

@{
    ViewData["Title"] = "AddRoom";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yeni Oda Kayıt</h4>
            <br />
            <div class="basic-form">
                <form method="post">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Oda Numarası</label>
                            <input type="text" asp-for="RoomNumber" class="form-control">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Oda Başlığı</label>
                            <input type="text" asp-for="Title" class="form-control">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Oda Fiyatı</label>
                            <input type="text" asp-for="Price" class="form-control">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Oda Görseli</label>
                            <input type="text" asp-for="RoomCoverImage" class="form-control">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Yatak Sayısı</label>
                            <input type="text" asp-for="BedCount" class="form-control">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Banyo Sayısı</label>
                            <input type="text" asp-for="BathCount" class="form-control">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Açıklama</label>
                            <input type="text" asp-for="Description" class="form-control">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Wifi</label>
                            <input type="text" asp-for="Wifi" class="form-control">
                        </div>
                    </div>
                    <button type="submit" class="btn mb-1 btn-rounded btn-outline-primary">Kaydet</button>
                </form>
            </div>
        </div>
    </div>
</div>

